.pwd.lock
*.pem
*cert
*crt
*key
*shadow*
ld.so.cache
named.conf.pre*
pki
**/*.bak
**/*.old
**/*.save
cups/printers.conf*
cups/subscriptions.conf*
mail/sendmail.cf.bak
mail/client-info*
mail/authinfo*
ntp.conf
tomcat/tomcat-users.xml

